@using DataAccess.Services
@using DataAccess.Models

@inherits LayoutComponentBase
@inject AppStateService appState

<PageTitle>FreddiesF1FantasySite</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @*login/logout button*@
            @if (appState.isLoggedIn)
            {
                @*account page*@
                <a href="/Account/Manage">My Account</a>
                <a href="/" @onclick="@appState.LogOut">Log out</a>
                <a>Current user: @appState.currentUser.Username</a>

                @if(appState.currentUser.AccountLevel == AccountLevels.Administrator)
                {
                    <a href="/Fantasy/UpdatePoints">Update points</a>
                }
            }
            else
            {
                <a href="/">Log in</a>
            }	
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


                 