@page "/"

@using DataAccess.Models
@using FreddiesF1FantasySite.Controls
@using DataAccess.Services

@inject AppStateService appState

<PageTitle>Index</PageTitle>

<div class="twitter-login-container">
    <div style="flex-grow:15">
        @if(appState.isLoggedIn)
        {
            <FavouriteDriverControl />
            <FavouriteConstructorControl />
        }
        else
        {
            <LoginControl />
        }
    </div>

    <div style="flex-grow:1">
        <TwitterTimelineControl />
    </div>
</div>

@code{

}