@page "/Fantasy/CreateLeague"

@using DataAccess.Models.Fantasy
@using DataAccess.Models
@using DataAccess.Database
@using DataAccess.API
@using DataAccess.Services

@inject ILeagueData leagueData
@inject ApiService api
@inject AppStateService appState
@inject NavigationManager navMan

<h3 style="text-align:center">Create a new Fantasy League</h3>

<form id="create-league">
    <label for="password1">League name</label>
    <input type="text" class="create-league-input" @bind="password1" id="password1"/>
    <br /><br />

    <label for="leaguePassword1">League Password</label>
    <input type="password" class="create-league-input" id="leaguePassword1" @bind="password2"></input>
    <br /><br />

    <label for="leaguePassword2">Re-enter League Password</label>
    <input type="password" class="create-league-input" id="leaguePassword2" @bind="league.LeaguePassword"></input>
    <br /><br />

    <button type="submit" @onclick="OnSubmit" style="width:20%; float:right">Submit</button>
</form>



@code {
    UserModel user = new();
    FantasyLeagueModel league = new();

    string password1 = "";
    string password2 = "";

    protected override void OnInitialized ()
    {
        user = appState.currentUser;
    }

    private void OnSubmit()
    {
        league.LeagueOwnerId = user.UserID;
        league.LeaguePassword = password1;

        leagueData.InsertLeague(league);


        //update league to get its id, how do i get its id if I don't know it though??
        league = leagueData.GetMostRecentLeague();

        navMan.NavigateTo("/Fantasy/Home", true);
    }
}
