@page "/Fantasy/CreateTeam"

@using DataAccess.Models.Fantasy
@using DataAccess.Database
@using DataAccess.API
@using DataAccess.Services

@inject DatabaseService db
@inject ApiService api
@inject AppStateService appState

<h3>Create Team</h3>

@code {

}
