@page "/Fantasy/Home"

@using DataAccess.Database
@using DataAccess.API
@using DataAccess.Models
@using DataAccess.Models.Fantasy
@using DataAccess.Services
@using FreddiesF1FantasySite.Controls

@inject AppStateService appState

<h2 style="text-align:center">Fantasy Home</h2>

@if (appState.isLoggedIn)
{
    <div>
        <div>
            <div>
                <h2>My Leagues</h2>
                <a href="/Fantasy/CreateLeague">Create a new League</a>

                @if (leagues is not null)
                {
                    @foreach (FantasyLeagueModel league in leagues)
                    {
                        <div class="fantasy-league-home-control" style="flex:auto">
                            <div class="fantasy-home-control-head">
                                <h4 style="flex-grow:20">League name</h4>
                                <a href="/Fantasy/ManageLeague/LeagueId=(@league.LeagueId)" style="flex-grow:1"><i class="fa-solid fa-gear"></i></a>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Pos.</th>
                                        <th>Team</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>test team</td>
                                        <td>400</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }
                <br /><br />
            </div>

            <h2>My Teams</h2>
            @if (teams is not null)
            {
                @foreach (FantasyTeamModel team in teams)
                {
                    <div class="fantasy-team-home-control">
                        <div class="fantasy-home-control-head">
                            <h4 style="flex-grow:20">Fantasy Team name</h4>
                            <a href="/Fantasy/ManageTeam/TeamId=(@team.LeagueId)" style="flex-grow:1"><i class="fa-solid fa-gear"></i></a>
                        </div>

                        <img class="img" src="" />
                        <img class="img" src="" />
                        <img class="img" src="" />
                        <img class="img" src="" />
                        <img class="img" src="" />
                    </div>
                }
            }
        </div>
    </div>
}
else
{
    <p>please log in</p>
}




@code {
    List<FantasyTeamModel> teams = new();
    FantasyTeamModel team1 = new();
    FantasyTeamModel team2 = new();

    List<FantasyLeagueModel> leagues = new();
    FantasyLeagueModel league1 = new();
    FantasyLeagueModel league2 = new();

    protected override void OnInitialized ()
    {
        teams.Add(team1);
        teams.Add(team2);
        leagues.Add(league1);
        leagues.Add(league2);
    }

}
