@page "/Fantasy/Home"

@using DataAccess.Database
@using DataAccess.API
@using DataAccess.Models
@using DataAccess.Models.Fantasy
@using DataAccess.Services
@using FreddiesF1FantasySite.Controls

@inject AppStateService appState

<h2 style="text-align:center">Fantasy Home</h2>

<div>
    <div>
        <h3>My Teams</h3>
        @if(teams is not null)
        {
            @foreach (FantasyTeamModel team in teams)
            {
                <div class="fantasy-team-home-control">
                    <p>Fantasy Team name</p>
                    <img class="img" src="" />
                    <img class="img" src="" />
                    <img class="img" src="" />
                    <img class="img" src="" />
                    <img class="img" src="" />
                    <a href="/Fantasy/ManageTeam">Manage team</a>
                </div>
            }
        }
    </div>
    <div>
        <h3>My Leagues</h3>

        <a href="/Fantasy/CreateLeague">Create a new League</a>

        @if(leagues is not null)
        {
            @foreach(FantasyLeagueModel league in leagues)
            {
                <a href="/Fantasy/ManageLeague/LeagueId=(@league.LeagueId)">Manage League</a>
            }
        }
    </div>
</div>





@code {
    List<FantasyTeamModel> teams = new();
    FantasyTeamModel team1 = new();
    FantasyTeamModel team2 = new();

    List<FantasyLeagueModel> leagues = new();

    protected override void OnInitialized ()
    {
        teams.Add(team1);
        teams.Add(team2);
    }

}
