@page "/Fantasy/HowItWorks"

<h2>How It Works</h2>
<br />

<h3><b>Making a Fantasy League</b></h3>
<p>

</p>
<br />

<h3><b>Making a Fantasy Team</b></h3>
<p>
    <ul>
        <li>
            Drivers
            <ul>
                <li>
                    Select 4 drivers
                </li>
            </ul>
        </li>
        <li>
            Constructors
            <ul>
                <li>
                    Select 1 Constructor
                </li>
            </ul>
        </li>
        <li>
            Boosted Driver
            <ul>
                <li>
                    Select 1 driver from your chosen 4 to 'boost' each race weekend to earn double points!
                </li>
            </ul>
        </li>
        <li>
            Budget            
            <ul>
                <li>
                    Your initial budget is £100.00m 
                </li>
                <li>
                    You can buy an sell drivers and constructors throughout the season, up to 2 changes between each race weekend
                </li>
                <li>
                    Values will fluctuate throughout the season, so keep an eye out for any good deals, there coudld be profit to be made!
                </li>
                <li>
                    Teams are locked in 1 hour before qualifying/ sprint race starts
                </li>
            </ul>
        </li>
    </ul>
</p>


<h3><b>Earning points:</b></h3>
<h4>Qualifying</h4>
<p>
    <ul>
        <li>
            Drivers - Top 3 qualifiers score points:<br />
            <ul>
                <li>P1: 5 points</li>
                <li>P2: 3 points</li>
                <li>P3: 1 point</li>
            </ul>
        </li>
        <li>Constructors - No Points earned</li>
    </ul>
</p>
<h4>Race</h4>
<p>
    <ul>
        <li>
            Drivers:
            <ul>
                <li>Top 15 positions score points - P1 scores  30 points, P2 scores 28 points...</li>
                <li>Fastest lap - 1 point</li>
                <li>1 point per position gained from starting position, up to 5 points</li>
                <li>Driver of the day - 5 points</li>
                <li>Boosted driver - double all points scored over the race weekend</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            Constructors:
            <ul>
                <li>Average points score of both drivers</li>
                <li>Both drivers classified as finishers - 5 points</li>
                <li>DHL Fastest Pitsop Award - 5 points</li>
            </ul>
        </li>
    </ul>
</p>

<h4>Sprint</h4>
<p></p>

@code {

}
