@page "/Fantasy/JoinLeague"

@using DataAccess.Database
@using DataAccess.Services
@using DataAccess.Models.Fantasy
@using DataAccess.Models

@inject AppStateService appState
@inject ILeagueData leagueData
@inject ITeamData teamData
@inject NavigationManager navMan

<h2>Join a league</h2>

@if(allLeagues is not null)
{
    <form id="join-league">
        <label>Enter league name</label>
        <input type="text" @bind="leagueNameInput" />
        <button type="button" @onclick="CheckLeagueExists">Next</button>
        @if(leagueNotFound)
        {
            <p>League not found, please try again</p>
        }
        <br /><br />


        @if(leagueRequiresPassword)
        {
            <label>Enter league password</label>
            <input type="text" @bind="leaguePasswordInput">
            <button type="button" @onclick="CheckPassword">Next</button>
            <br />

            <br />
        }

        @if(showTeamsList == true)
        {
            <label>Select which team you want to join this league</label>

            <select @bind="@selectedTeamId">
                @foreach(FantasyTeamModel team in allUsersTeams)
                {
                    <option value="@team.TeamId">@team.Name</option>
                }
            </select>

            <button type="submit" @onclick="JoinLeague">Join league</button>
        }
    </form>
}



@code {
    List<FantasyLeagueModel> allLeagues = new();
    FantasyLeagueModel selectedLeague = new();

    List<FantasyTeamModel> allUsersTeams = new();
    string selectedTeamId = string.Empty;

    string leagueNameInput = "";

    bool leagueRequiresPassword = false;
    string leaguePasswordInput = "";
    bool showTeamsList = false;
    bool leagueNotFound = false;


    protected override async Task OnInitializedAsync()
    {
        allLeagues = await leagueData.GetAllLeagues();
        GetUsersTeams();
    }

    private void CheckLeagueExists()
    {
        foreach(FantasyLeagueModel league in allLeagues)
        {
            //check the leaague exists
            if(league.Name.ToLower() == leagueNameInput.ToLower())
            {
                selectedLeague = league;

                //check if it requires a password
                if(league.RequirePassword == true)
                {
                    leagueRequiresPassword = true;
                }

                else                
                    showTeamsList = true;                
            }
            else            
                leagueNotFound = true;            
        }
    }

    /// <summary>
    /// Check passowrd matches
    /// </summary>
    private void CheckPassword()
    {
        if (selectedLeague.Password == leaguePasswordInput)
            showTeamsList = true;
        else
        {
            //display error message
        }
    }

    /// <summary>
    /// get a list of the users teams to select which to join the league
    /// </summary>
    private async void GetUsersTeams()
    {
        allUsersTeams = await teamData.GetAllTeams();

        //remove any team that are already part of a league
        allUsersTeams = allUsersTeams.Where(t => t.OwnerId == appState.currentUser.UserId && t.LeagueId == "").ToList();
    }

    /// <summary>
    /// Final stage - insert into db and give team a leagueId
    /// </summary>
    private void JoinLeague()
    {
        FantasyTeamModel selectedTeam = allUsersTeams.Where(t => t.TeamId == selectedTeamId).FirstOrDefault();

        //update team object with league id in the db
        selectedTeam.LeagueId = selectedLeague.LeagueId;

        teamData.UpdateTeamDetails(selectedTeam);

        //take user back to fantasy home
        navMan.NavigateTo("/Fantasy/Home");
    }
}
