@page "/Fantasy/JoinLeague"

@using DataAccess.Database
@using DataAccess.Services
@using DataAccess.Models.Fantasy
@using DataAccess.Models

@inject AppStateService appState
@inject ILeagueData leagueData
@inject ITeamData teamData
@inject NavigationManager navMan

<h2>Join a league</h2>
@if(setupDone)
{
    @if(availableTeams.Count > 0)
    {
        <form id="join-league">

            <label>Select which team you want to join a league</label>

            <select @bind="@selectedTeamId">
                @foreach(FantasyTeamModel team in availableTeams)
                {
                    <option value="@team.TeamId">@team.Name</option>
                }
            </select>
            <button type="submit" @onclick="TeamSelected">Next</button>

            @if(ShowLeagueInput)
            {
                <label>Enter league name</label>
                <input type="text" @bind="leagueNameInput" />
                <button type="button" @onclick="CheckLeagueExists">Next</button>
                @if(leagueNotFound)
                {
                    <p>League not found, please try again</p>
                }
                <br />

                <br />
            }

            @if(leagueRequiresPassword)
            {
                <label>Enter league password</label>
                <input type="text" @bind="leaguePasswordInput">
                <button type="button" @onclick="CheckPassword">Next</button>
                <br />

                <br />
            }
        </form>
    }
    else
    {
        <p>You do not currently have any teams that can join a league</p>
        <p>Either create a new team or leave a league with a current team</p>
    }
}


@code {
    List<FantasyLeagueModel>? allLeagues;
    FantasyLeagueModel selectedLeague = new();
    List<FantasyTeamModel> availableTeams = new();
    string selectedTeamId = string.Empty;
    string leagueNameInput = "";
    bool leagueRequiresPassword = false;
    string leaguePasswordInput = "";
    bool ShowLeagueInput = false;
    bool leagueNotFound = false;
    bool setupDone = false;

    protected override async Task OnInitializedAsync()
    {
        allLeagues = await leagueData.GetAllLeagues();
        GetUsersTeams();
        setupDone = true;
    }

    private void CheckLeagueExists()
    {
        foreach(FantasyLeagueModel league in allLeagues)
        {
            //check the leaague exists
            if(league.Name.ToLower() == leagueNameInput.ToLower())
            {
                selectedLeague = league;

                //check if it requires a password
                if(league.RequirePassword == true)
                {
                    leagueRequiresPassword = true;
                }

                else                
                    ShowLeagueInput = true;                
            }
            else            
                leagueNotFound = true;            
        }
    }

    /// <summary>
    /// Check passowrd matches
    /// </summary>
    private void CheckPassword()
    {
        if (selectedLeague.Password == leaguePasswordInput)
            ShowLeagueInput = true;
        else
        {
            //display error message
        }
    }

    /// <summary>
    /// get a list of the users teams to select which to join the league
    /// </summary>
    private async void GetUsersTeams()
    {
        availableTeams = await teamData.GetAllTeams();

        //remove any team that are already part of a league
        availableTeams = availableTeams.Where(t => t.OwnerId == appState.currentUser.UserId && t.LeagueId == "").ToList();
    }

    private void TeamSelected()
    {
        ShowLeagueInput = true;
    }

    /// <summary>
    /// Final stage - insert into db and give team a leagueId
    /// </summary>
    private void JoinLeague()
    {
        FantasyTeamModel selectedTeam = availableTeams.Where(t => t.TeamId == selectedTeamId).FirstOrDefault();

        //update team object with league id in the db
        selectedTeam.LeagueId = selectedLeague.LeagueId;

        teamData.UpdateTeamDetails(selectedTeam);

        //take user back to fantasy home
        navMan.NavigateTo("/Fantasy/Home");
    }
}
